@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	background-color: #E8E8E8;
	overflow: hidden;
}

#container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;	
	background: #FFFFFF;
}

.follow{
	position: absolute;
	
}
	.followIcon{
		width: 20px;
		height: 20px;
		position: absolute;
		background-color: #888888;
		
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		
		-webkit-box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .5);
		box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .5);
	
	}
	.name{
		position: absolute;
		left: 25px;
		top: 2px;
		background-color: #777777;
		padding: 2px;
		color: #FFFFFF;
		font-family: sans-serif;
		font-size: 10px;
		
		-webkit-box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .5);
		box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .5);
	}

/* set the width height of layers */
#visualizeContainer, #followerContainer, #canvas-draw{
	width: 1920px;
	height: 1080px;
}

#visualizeContainer{
	position: relative;
	margin: auto;
	border: 1px solid #C0C0C0;
}
#followerContainer, #canvas-draw{
	position: absolute;
	top: 0px;
	left: 0px;
}
#canvas-draw{
	background-color: #FFFFFF;
}


/* @group zindex */
	#canvas-draw{
		z-index: 110;
	}
	#followerContainer{
		z-index: 120;	
	}
/* @end */